body{
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
}

             /* WIZIQ HOME PAGE */
.WIZIQ{
    color: orange;
    text-align: start;
    font-weight: bold;
    font-size: 40px;
}

span{
    color : blue;
}

.RD{
    
    padding: 12px 65px;
    border-radius: 25px;
    color: white;
    background-color: #f78200;
    align-content: center;
    font-size: 1.2em;
}

a{
    text-decoration: none;
}

.E1{
    text-align: center;
    text-decoration: none;
}
.headerdesign{
    background-color: rgb(12, 127, 203);
    height: 700px;
    width:20px 20px;
    font-weight: lighter;
    margin-left: 40px;
    margin-right: 40px;
    position:relative;
    top: -15px;
    
}

h2{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
h2{
   
    color: white;
    border: 1px;
    text-align: center;
    font-size: 40px; 
}
img{
    /* float: right; */
    margin-top: 45px;
    width: 90%;
   position: relative;
   left: -90px;
}

.D2{
    margin: 50px auto;
    position: relative;
    bottom: -30px;
    left: 24px;
    right: 25px;
    font-size: 15px;

}

.D2 ul li{
    padding: 5px;
    list-style: none;
    text-align: left;
   
}

.D2 ul li a{
    padding: 2px;
    color:#fff ;

}
.D2 ul li:hover{
    /* padding: 10px; */
    background-color:  rgb(54, 183, 243);
    
}
.class1{
    font-size: 40px;

}
.sec{
    display: flex;
   
}

.div{
    display:flex
}
.div2{
    display: flex;
}
.div3{
    display: flex;
}
.div4{
    display: flex;
}
.div5{
    display: flex;
}
.div6{
    display: flex;
}
.div7{
    display: flex;
}

.firstweb{
    width: 100px;
    margin-left: 30%;
    
}
.web2{
    width: 100px;
    margin-left: 30%;
  
}
.web3{
    width: 100px;
    margin-left: 30%;
    
}
.web4{
width: 100px;
margin-left: 30%;

}
.web5{
    width: 100px;
    margin-left: 30%;
}
.web6{
    width: 100px;
    margin-left: 30%;
   
}
.web6{
    width: 100px;
    margin-left: 30%;
   
}
.web8{
    width: 100px;
    margin-left: 30%; 
}
.web9{
    width: 100px;
    margin-left: 30%;
}
.web10{
    width: 100px; 
    margin-left: 30%;
}
.web11{
    width: 100px;
    margin-left: 30%;
}
.web12{
    width: 100px;
    margin-left: 30%;
}

                   /* FOR VIRTUAL CLASSROOM.HTML */
.t4{
background-color:rgb(54, 183, 243) ;
}

           /* FOR eLEARNING */
           .d3{
            background-color: aqua;
            text-align: center;
           }
           
           .s2{
               color: orange;
            }
        
           #h6{
             text-align: right;    
         }
           
           
           
        
                  
                   
                   
                   
                               



                   
 
                